{
    "globals": {
        "_": true,
        "describe": true,
        "assert": true,
        "expect": true,
        "sinon": true,
        "FB": true,
        "gapi": true,
        "rll": true,
        "Backbone": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "linebreak-style": ["error","unix"],
        "semi": ["error","always"],
        "curly": "error",
        "default-case": "error",
        "dot-location": ["error","property"],
        "no-alert": "error",
        "no-console": [0, "allow": ["warn", "error"]],
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-implied-eval": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": [
            "warn",
            {
                "ignoreArrayIndexes": true,
                "ignore": [-1, 0, 1]
            }
        ],
        "no-self-compare": "error",
        "arrow-spacing": ["error", { "before": true, "after": true }],
        "space-before-blocks":  ["error", { "functions": "always", "keywords": "always", "classes": "always" }],
        "object-curly-spacing": ["error", "always"],
        "block-spacing": ["error", "always"],
        "keyword-spacing": ["error"],
        "brace-style": ["warn", "1tbs"],
        "camelcase": [
            "warn", {
                "properties": "never"
            }
        ],
        "comma-style": ["error", "last"],
        "no-unused-vars": "error",
        "operator-linebreak": ["error", "before"],
        "no-unneeded-ternary": "error",
        "no-const-assign": "error",
        "prefer-const": "warn",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": [
            "error",
            {
                "includeExports": true
            }
        ],
        "no-lonely-if": "error",
        "no-continue": "error",
        "eol-last": "error",
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": false,
        "jquery": true,
        "mocha": true,
        "commonjs": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "ecmaFeatures": {
        "modules": true,
    },
    "extends": "eslint:recommended"
}
