:root {
  --main-color: rgb(43, 123, 160);
}

#audio_time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'Andale Mono', 'Courier New', monospace;
}

#sound_status {
  position: absolute;
  top: 20px;
  left: 20px;
}

body,
html {
  background: black;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: var(--main-color);
  text-align: center;
  letter-spacing: 0.03em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

h3 {
  font-size: 28px;
  text-transform: uppercase;
  color: rgba(43, 123, 160, 0.2);
}

audio {
  width: 600px;
}
